#root {
  max-width: 100%;
  text-align: center;
  width: 100%;
  background-color: #171923;
  min-height: 100vh;
  height: 100%;
}

.Mainframe {
  width: 1280px;
  height: 600px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size:cover ;
}