#root {
  max-width: 100%;
  text-align: center;
  width: 100%;
  background-color: #171923;
}

.scoreboard-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}
.scoreboard-contents {
  align-items: flex-start !important;
}

.bg-img {
  margin-bottom: 20px;
  width: 25%;
}

.scoreboard-container th, td { 
  white-space: nowrap;
  padding: 10px;
}
